<!-- nuevo-producto-dialog.component.html -->
<h1 mat-dialog-title>Nuevo Producto</h1>
<div mat-dialog-content>
    

    <form [formGroup]="productoForm">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="productoForm.controls['nombre'].hasError('required')">Este campo es
                <strong>requerido</strong>
            </mat-error>
        </mat-form-field><!-- 
        <mat-form-field>
            <input matInput placeholder="Cantidad" formControlName="cantidad">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cantidad en reserva" formControlName="reserva">
        </mat-form-field> -->

        <!-- <mat-form-field>
            <input matInput placeholder="Precio compra" formControlName="precio_compra">
        </mat-form-field> --><!-- 
        <mat-form-field>
            <input matInput placeholder="Precio venta" formControlName="precio_venta">
        </mat-form-field> -->
        <!-- <mat-form-field>
            <input matInput placeholder="Medida" formControlName="medida">
        </mat-form-field> -->
        
        <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="id_categoria">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.nombre }}
                </mat-option>
            </mat-select>
            <mat-hint>(Opcional)</mat-hint>
        </mat-form-field>
        
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cerrarDialog()">Cancelar</button>
    <button mat-button color="primary" (click)="guardarNuevoProducto()">Guardar Producto</button>
</div>