<div class="container mt-4">
    <mat-card>
        <mat-card-header class="bg-dark text-white">
            <mat-card-title>Entradas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Primer conjunto de campos -->
            <div class="field-group">
                <mat-form-field class="field">
                    <mat-label>Productos</mat-label>
                    <mat-select [(value)]="selectedProduct" (selectionChange)="Producto()">
                        <mat-option value="-">-</mat-option>
                        <mat-option *ngFor="let producto of productos" [value]="producto.id">
                            {{ producto.nombre }}
                        </mat-option>
                    </mat-select>
                    <button mat-icon-button matSuffix color="primary" matTooltip="Crear producto"
                        (click)="openNewProductDialog($event)">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="field">
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" id="cantidad" placeholder="" aria-label="Cantidad"
                        [disabled]="!isProductoSeleccionado" [(ngModel)]="cantidadInput" (keyup)="CantidadValidacion()"
                        (change)="validarCantidad()">
                </mat-form-field>

                <mat-form-field class="field">                    
                    <mat-label>Precio Venta</mat-label>
                    <input matInput type="number" class="form-control" id="precio_venta" placeholder="" aria-label="Precio venta"
                        aria-describedby="basic-addon1" [disabled]="!isProductoSeleccionado"
                        [(ngModel)]="precioVentaInput" (keyup)="PrecioVentaValidacion()"
                        (change)="PrecioVentaValidacion()" step="0.01">
                    </mat-form-field>
                <button mat-raised-button color="primary" (click)="agregarProducto()">Agregar Producto</button>
            </div>

            <mat-list>
                <mat-list-item *ngFor="let item of dataSource">
                    <mat-icon matListItemIcon>cookie</mat-icon>
                    <div matListItemTitle>{{ item.nombre }}</div>
                    <div matListItemLine>Cantidad: {{ item.cantidad }} |  Precio por unidad: {{ item.precio_venta | currency:'USD':'symbol':'1.2-2'}}</div>
                  <div matListItemMeta>
                        <button mat-icon-button color="warn" (click)="eliminarRegistro(item.position)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>

        </mat-card-content>
        <mat-card-actions class="buttons">
            <div class="example-button-row">
                <button mat-mini-fab color="primary" matTooltip="Limpiar tabla" (click)="limpiarTabla()">
                    <mat-icon>cleaning_services</mat-icon>
                </button>
                <button mat-mini-fab color="primary" matTooltip="Guardar" (click)="guardar()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>