<h1 mat-dialog-title>Editar Producto</h1>
<div mat-dialog-content>
  <form [formGroup]="productoForm">
    <!-- Agrega tus campos de formulario -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput placeholder="Cantidad" formControlName="cantidad">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reserva</mat-label>
      <input matInput placeholder="Reserva" formControlName="reserva">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio venta</mat-label>
      <input matInput placeholder="Precio venta" formControlName="precio_venta">
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Medida</mat-label>
      <input matInput placeholder="Medida" formControlName="medida">
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="id_categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrarDialog()">Cancelar</button>
  <button mat-button color="primary" (click)="guardarCambios()">Guardar Cambios</button>
</div>
