<mat-card>
  <mat-card-actions>
    <div class="example-button-row">
      <button mat-mini-fab color="primary" matTooltip="Crear Carpeta" (click)="openNewFolderDialog()" *ngIf="!selectedCategoryId">
        <mat-icon>folder</mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Crear Producto" (click)="openNewProductDialog()">
        <mat-icon>note</mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Volver atras" (click)="goBack()" *ngIf="selectedCategoryId">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <!-- Campo de búsqueda por nombre -->
      <mat-form-field class="example-full-width" *ngIf="selectedCategoryId">
        <mat-label>Productos</mat-label>
        <input matInput placeholder="Buscar por nombre" [(ngModel)]="searchText"  (keyup)="filterProducts()">
      </mat-form-field>
    </div>
  </mat-card-actions>

  <mat-list *ngIf="!selectedCategoryId">
    <!-- <div mat-subheader>Listado de Categorías</div> -->
    <mat-list-item *ngFor="let categoria of categories" (click)="loadProductsByCategory(categoria.id)">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{categoria.nombre}}</div>
      <div matListItemMeta>
        <button mat-icon-button color="primary" (click)="editCategory($event, categoria)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteCategory($event, categoria)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  
  <!-- Lista de productos -->
  <mat-list>   
    <!-- Listado de productos filtrados -->
    <mat-list-item *ngFor="let product of filteredProducts" [ngClass]="{'orange-text': +product.reserva >= +product.cantidad && +product.reserva !== 0}">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{product.nombre}}</div>
      <div matListItemLine >
        Cantidad: {{product.cantidad}} Reserva: {{product.reserva}}
      </div>
      <div matListItemMeta>
        <button mat-icon-button color="primary" (click)="editProduct(product)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteProduct($event, product)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>

</mat-card>