<mat-card>
  <mat-card-actions>
    <!-- <button mat-raised-button color="primary" (click)="openNewProductDialog()">
      Crear Nuevo Producto
    </button> -->

    <!-- <button mat-raised-button color="primary" (click)="openNewFolderDialog()">
      Crear Carpeta
    </button> -->


    <div class="example-button-row">
      <button mat-mini-fab color="primary" matTooltip="Crear Carpeta" (click)="openNewFolderDialog()">
        <mat-icon>folder</mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Crear Producto" (click)="openNewProductDialog()">
        <mat-icon>note</mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Volver atras" (click)="goBack()" *ngIf="selectedCategoryId">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-card-actions>

  <mat-list *ngIf="!selectedCategoryId">
    <!-- <div mat-subheader>Listado de Categorías</div> -->
    <mat-list-item *ngFor="let categoria of categories" (click)="loadProductsByCategory(categoria.id)">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{categoria.nombre}}</div>
      <div matListItemMeta>
        <button mat-icon-button color="primary" (click)="editCategory($event, categoria)">
        <mat-icon>edit</mat-icon>
      </button>
      
      </div>
    </mat-list-item>
  </mat-list>


  <!-- <button mat-button color="primary" *ngIf="selectedCategoryId" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button> -->
  <mat-list>
    <!-- <div mat-subheader>Listado de Productos</div> -->
    <mat-list-item *ngFor="let product of products">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{product.nombre}}</div>
      <div matListItemLine>{{product.cantidad}}</div>
      <div matListItemMeta><button mat-icon-button color="primary" (click)="editProduct(product)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>

</mat-card>