<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Cambiar Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <mat-form-field>
                    <mat-label>Contraseña Antigua</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="oldPassword" required>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassword" required>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="passwordForm.get('newPassword')?.hasError('minlength') || passwordForm.get('confirmPassword')?.hasError('minlength')">
                        Las contraseñas deben tener al menos 10 caracteres.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                  <mat-label>Confirmar Nueva Contraseña</mat-label>
                  <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="confirmPassword"  required>
                  <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                    <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>                
                </mat-form-field>
              </div>              
              
            <button mat-raised-button color="accent" type="submit" [disabled]="passwordForm.invalid">
                Cambiar Contraseña
            </button>
        </form>
    </mat-card-content>
</mat-card>